Repository nivecher/meal-expense-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, prettier-html, stylelint, eslint

mypy:
  name: mypy
  ...

prettier-html:
  name: prettier-html
  entry: "sh -c 'if [ -d node_modules ] && command -v npm >/dev/null 2>&1; then\n  OUTPUT=$(npm run lint-html 2>&1);\n  EXIT_CODE=$?;\n  echo \"$OUTPUT\" | grep -v \"unchanged\" || true;\n  exit $EXIT_CODE;\nelse\n  echo Skipping prettier-html;\n  exit 0;\nfi'\n"
  language: system
  ...

stylelint:
  name: stylelint
  entry: "sh -c 'if [ -d node_modules ] && command -v npm >/dev/null 2>&1; then\n  npm run lint:css;\nelse\n  echo Skipping stylelint;\n  exit 0;\nfi'\n"
  language: system
  require_serial: true

eslint:
  name: eslint
  entry: "sh -c 'if [ -d node_modules ] && command -v npm >/dev/null 2>&1; then\n  npm run lint:js;\nelse\n  echo Skipping eslint;\n  exit 0;\nfi'\n"
  language: system
  require_serial: true

refactor: update configuration and error handling in various files
  app/__init__.py
  app/errors/__init__.py
  app/static/js/pages/expense-form-handler.js
  config.py
  lambda_handler.py
Due: mypy, eslint

chore: update configuration files for module exclusions and CloudFront permissions
  cloudformation/github-actions-role.yml
  pyproject.toml
Due: none

feat: add mangum dependency for Lambda HTTP API v2 support
  requirements/base.in
Due: none

chore: update dependabot configuration to remove patch version restriction
  .github/dependabot.yml
Due: none

chore: update GitHub Actions IAM role permissions and description
  cloudformation/github-actions-role.yml
Due: none

fix: add mangum dependency for Lambda HTTP API v2 support
  requirements.txt
Due: none

chore: remove dependabot configuration file
  .github/dependabot.yml
  scripts/determine_version.py
Due: none

chore: update dependencies in requirements files
  requirements-dev.txt
  requirements.txt
  requirements/dev.in
  scripts/determine_version.py
Due: none

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Due: none

Enhance version determination logic in determine_version.py
  scripts/determine_version.py
Due: none

Refine version determination logic in determine_version.py
  scripts/determine_version.py
Due: none

fix: improve version determination fallback logic
  scripts/determine_version.py
Due: none

fix: update lambda_handler.py for improved Mangum handling and adjust deploy.yml for platform compatibility
  .github/workflows/deploy.yml
  lambda_handler.py
Due: none

Create SECURITY.md for security policy
  SECURITY.md
Due: none

fix: enhance lambda_handler.py for multipart/form-data handling and improve CORS configuration
  app/__init__.py
  app/api/routes.py
  app/auth/api.py
  app/auth/models.py
  app/auth/routes.py
  app/extensions.py
  app/main/routes.py
  app/static/js/pages/expense-form-handler.js
  app/static/js/pages/expense-list.js
  app/static/js/pages/restaurant-list.js
  app/static/js/pages/restaurant-search.js
  app/static/js/utils/tagify-init.js
  app/static/js/utils/timezone-handler.js
  lambda_handler.py
  scripts/watch-lambda-logs.sh
  terraform/modules/cloudfront/main.tf
  terraform/modules/iam/main.tf
Due: mypy, eslint

chore: remove CodeQL workflow and dependency review from CI configuration
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  cloudformation/github-actions-role.yml
Due: none

fix: upgrade @playwright/test from 1.56.1 to 1.57.0
  package-lock.json
  package.json
Due: none

fix: upgrade eslint from 9.34.0 to 9.39.2
  package-lock.json
  package.json
Due: none

fix: upgrade snyk from 1.1301.0 to 1.1301.2
  package-lock.json
  package.json
Due: none

Remove unused Tagify CSS and initialization JavaScript files to streamline codebase and eliminate unnecessary dependencies.
  app/static/css/tagify-pretty.css
  app/static/js/utils/tagify-init.js
Due: stylelint, eslint

Refactor tag management and update dependencies
  .github/workflows/tag.yml
  Makefile
  app/auth/models.py
  app/auth/routes.py
  app/expenses/models.py
  app/expenses/routes.py
  app/expenses/services.py
  app/extensions.py
  app/static/css/components/tag-manager.css
  app/static/css/tag-select.css
  app/static/js/components/tag-manager.js
  app/static/js/main.js
  app/static/js/pages/expense-form-handler.js
  app/static/js/pages/expense-list.js
  app/static/js/utils/error-handler.js
  app/static/js/utils/tag-select-init.js
  app/static/js/utils/unified-error-handler.js
  app/template_filters.py
  app/templates/auth/login.html
  app/templates/auth/profile.html
  app/templates/components/tag_editor_modal.html
  app/templates/expenses/details.html
  app/templates/expenses/list.html
  app/templates/expenses/macros.html
  lambda_handler.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  requirements/base.in
  requirements/dev.in
  scripts/determine_version.py
Due: mypy, prettier-html, stylelint, eslint

fix: streamline tag parsing in tag-select-init.js
  app/static/js/utils/tag-select-init.js
  tests/unit/expenses/test_expense_filtering.py
Due: eslint

feat: Add github actions workflows for build, deploy, and tag management
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/tag.yml
  terraform/modules/ecr/main.tf
  terraform/providers.tf
Due: none

Add GitHub Actions workflows for Build, Deploy, and Tag management
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/tag.yml
  terraform/modules/ecr/main.tf
  terraform/providers.tf
Due: none

Refactor GitHub Actions workflows for CI and Tag management
  .github/workflows/build.yml
  .github/workflows/tag.yml
  app/admin/operations.py
  lambda_handler.py
Due: mypy

refactor: Refactor github actions workflows for ci and tag management
  .github/workflows/build.yml
  .github/workflows/tag.yml
  app/admin/operations.py
  lambda_handler.py
Due: mypy

chore: Update pre-commit configuration and ci workflows
  .cursor/rules/git-conventions.mdc
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  app/utils/migration_manager.py
  init_db.py
  scripts/validate_commit.py
Due: mypy

chore: Update pre-commit configuration and enhance tag management
  .commitlintrc.cjs
  .pre-commit-config.yaml
  app/expenses/models.py
  app/expenses/services.py
  app/static/css/tag-select.css
  app/static/js/pages/expense-list.js
  app/static/js/utils/tag-select-init.js
  app/templates/base.html
  app/templates/expenses/list.html
  app/templates/expenses/macros.html
  app/utils/migration_manager.py
  tests/integration/test_expense_flow.py
Due: mypy, prettier-html, stylelint, eslint

chore: Update .tfsec.yml for consistency in formatting
  .pre-commit-config.yaml
  .tfsec.yml
Due: none

fix: Remove redundant response_code from custom error responses
  terraform/modules/cloudfront/main.tf
Due: none

chore: Update pyproject.toml and GitHub Actions workflow
  .github/workflows/tag.yml
  pyproject.toml
Due: none

chore: Refactor GitHub Actions release workflow
  .github/workflows/release.yml
Due: none

chore: Update GitHub Actions workflows and configuration
  .github/workflows/release.yml
  .github/workflows/tag.yml
  cloudformation/github-actions-role.yml
  pyproject.toml
  terraform/environments/README.md
  terraform/environments/prod/terraform.tfvars
  terraform/environments/staging/terraform.tfvars
Due: none

chore: Fix deploy perms and ECR order
  .github/workflows/deploy.yml
  cloudformation/github-actions-role.yml
Due: none

chore: Fix cf perms
  cloudformation/github-actions-role.yml
  terraform/modules/cloudfront/main.tf
Due: none

chore: Fix supabase setup and staging lambda arch
  SUPABASE_MIGRATION_GUIDE.md
  scripts/run-migrations-via-aws.md
  scripts/run-supabase-migration.sh
  scripts/setup-supabase.sh
  setup-supabase.sh
  terraform/environments/staging/terraform.tfvars
Due: none

fix(expenses): Resolve mypy return type for list_tags redirect
  app/expenses/routes.py
Due: mypy

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Path conditions:
  mypy: any of: ^app/.*\.py$, but not: ^(tests/|migrations/|venv/|.venv/)
  prettier-html: any of: ^app/templates/.*\.html$ and \.(html|htm|xhtml)$
  stylelint: any of: ^app/static/css/.*\.css$ and \.css$
  eslint: any of: ^app/static/js/.*\.js$
