Repository nivecher/meal-expense-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-lint, mypy, prettier-html, stylelint, eslint

python-lint:
  name: ruff + black
  ...

mypy:
  name: mypy
  ...

prettier-html:
  name: prettier-html
  entry: "sh -c 'if [ -d node_modules ] && command -v npm >/dev/null 2>&1; then\n  OUTPUT=$(npm run lint-html 2>&1);\n  EXIT_CODE=$?;\n  echo \"$OUTPUT\" | grep -v \"unchanged\" || true;\n  exit $EXIT_CODE;\nelse\n  echo Skipping prettier-html;\n  exit 0;\nfi'\n"
  language: system
  ...

stylelint:
  name: stylelint
  entry: "sh -c 'if [ -d node_modules ] && command -v npm >/dev/null 2>&1; then\n  npm run lint:css;\nelse\n  echo Skipping stylelint;\n  exit 0;\nfi'\n"
  language: system
  require_serial: true

eslint:
  name: eslint
  entry: "sh -c 'if [ -d node_modules ] && command -v npm >/dev/null 2>&1; then\n  npm run format:js && npm run lint:js;\nelse\n  echo Skipping eslint;\n  exit 0;\nfi'\n"
  language: system
  require_serial: true

feat(restaurants): Google Places enhancements and CLI improvements
  app/__init__.py
  app/api/routes.py
  app/auth/cli.py
  app/constants/restaurant_types.py
  app/expenses/cli.py
  app/restaurants/cli.py
  app/restaurants/models.py
  app/restaurants/routes.py
  app/services/google_places_service.py
  app/static/js/components/map-restaurant-search.js
  app/static/js/components/restaurant-autocomplete.js
  app/templates/main/help.html
  app/utils/address_utils.py
  app/utils/phone_utils.py
  app/utils/service_level_detector.py
  app/utils/url_utils.py
  docs/FEATURE_STATUS.md
  docs/GOOGLE_PLACES_FIELD_MAPPING.md
  package.json
  scripts/test_google_places_essentials.py
  tests/unit/restaurants/test_restaurants_cli.py
  tests/unit/restaurants/test_restaurants_routes.py
  tests/unit/utils/test_address_utils.py
  tests/unit/utils/test_phone_utils.py
  tests/unit/utils/test_service_level_detector.py
  tests/unit/utils/test_url_utils.py
Due: python-lint, mypy, prettier-html, eslint

feat(restaurants): Enhance Google Places integration
  .prettierignore
  .snyk
  app/__init__.py
  app/api/routes.py
  app/constants/restaurant_types.py
  app/restaurants/cli.py
  app/restaurants/forms.py
  app/restaurants/models.py
  app/restaurants/routes.py
  app/restaurants/services.py
  app/services/google_places_service.py
  app/static/css/pages/restaurant-form.css
  app/static/js/components/restaurant-autocomplete.js
  app/static/js/pages/places-search.js
  app/static/js/pages/restaurant-form.js
  app/templates/macros/form_helpers.html
  app/templates/main/help.html
  app/templates/restaurants/detail.html
  app/templates/restaurants/form.html
  docs/GOOGLE_MAPS_API.md
  docs/GOOGLE_PLACES_FIELD_MAPPING.md
  package-lock.json
  package.json
  tests/unit/restaurants/test_restaurants_cli.py
  tests/unit/restaurants/test_restaurants_routes.py
  tests/unit/utils/test_service_level_detector.py
Due: python-lint, mypy, prettier-html, stylelint, eslint

fix(restaurants): Include latitude and longitude in place data
  app/static/js/components/restaurant-autocomplete.js
  app/static/js/pages/places-search.js
Due: eslint

chore: Fix linting
  app/restaurants/routes.py
Due: python-lint, mypy

chore(devx): Enforce commitlint before push
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  docs/BRANCH_NAMING.md
  scripts/setup-dev.sh
Due: none

chore: Fix migrations
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  app/static/js/main.js
  app/templates/includes/sidebar.html
  migrations/versions/9d3e86eb77e6_add_domain_model_extensions_merchant_.py
  migrations/versions/c1d4a8f9e2b7_add_advanced_features_flag_to_user.py
  scripts/invoke_migrations.py
Due: python-lint, prettier-html, eslint

feat(merchants): Add dashboard summary and user-scoped chain hint
  app/main/routes.py
  app/merchants/routes.py
  app/templates/main/dashboard.html
  app/templates/merchants/form.html
  tests/unit/main/test_main.py
  tests/unit/merchants/test_merchants_routes.py
Due: python-lint, mypy, prettier-html

feat(expenses): Refine import review matching and grouping
  app/expenses/services.py
  app/templates/expenses/import_review.html
  tests/unit/expenses/test_services.py
Due: python-lint, mypy, prettier-html

fix(ci): Repair mypy issues and merchant migration lineage
  app/__init__.py
  app/admin/backup_service.py
  app/expenses/models.py
  app/expenses/routes.py
  app/expenses/services.py
  app/loyalty/routes.py
  app/loyalty/services.py
  app/merchants/cli.py
  app/merchants/routes.py
  app/merchants/services.py
  app/restaurants/services.py
  app/services/google_places_service.py
  config.py
  migrations/versions/d4e5f6a7b8c9_add_merchant_format_category.py
Due: python-lint, mypy

fix(migrations): Use boolean default for merchant is_chain
  migrations/versions/24d15401b757_.py
Due: python-lint

fix(ci): Parse Alembic revisions as tokens
  .github/workflows/ci.yml
Due: none

fix: Resolve staging Terraform state issues and update IAM permissions
  cloudformation/github-actions-role.yml
  terraform/main.tf
  terraform/modules/iam/main.tf
Due: none

fix: Resolve CodeQL security findings
  app/expenses/routes.py
  app/merchants/routes.py
  app/restaurants/routes.py
  app/static/js/pages/restaurant-detail.js
  app/templates/expenses/import_review.html
  tests/unit/expenses/test_expenses.py
  tests/unit/merchants/test_merchants_routes.py
  tests/unit/restaurants/test_restaurant_routes.py
Due: python-lint, mypy, prettier-html, eslint

Path conditions:
  python-lint: any of: \.py$
  mypy: any of: ^app/.*\.py$, but not: ^(tests/|migrations/|venv/|.venv/)
  prettier-html: any of: ^app/templates/.*\.html$ and \.(html|htm|xhtml)$
  stylelint: any of: ^app/static/css/.*\.css$ and \.css$
  eslint: any of: ^app/static/js/.*\.js$
